@import './color.scss';
@import './responsive.scss';

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}



// transition
$smooth: .5s ease;

html{
    scroll-behavior: smooth;
}

.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}


.padd-15{
    padding: 0 15px;
}

img{
    width: 100%;
    max-width: 100%;
}

button{
    background-color: $txt-color;
    color: #ffffff;
    padding: 15px 35px;
    font-size: 20px;
    border-radius: 30px;
    border: none;
    transition: $smooth;
    cursor: pointer;
    &:hover{
        background-color: $bg-hover;
    }
}

.none{
    display: none;
}

// heading
.heading{
    text-align: center;
    h2{
        font-size: 80px;
        opacity: .3;
        font-weight: 700;
        background: linear-gradient(to bottom ,$txt-color, transparent);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    h3{
        font-size: 40px;
        color: $txt-color;
        transform: translateY(-40px);
    }
}
// header

header{
    .content{
        align-items: center;
        justify-content: space-between;
        height: 100px;
        .header__logo{
            width: 70px;
            height: 70px;
            line-height: 70px;
            text-align: center;
            border-radius: 100px;
            background-color: $bg-green;
            font-weight: 700;
            span{
                font-size: 40px;
            }
        }
        .header__navbar{
            justify-content: space-evenly;
            align-items: center;
            flex: 1;
            max-width: 60%;
            transition: $smooth;
            li{
                a{
                    display: inline-block;
                    font-size: 20px;
                    color: $bg-btn;
                    transition: $smooth;
                }
                &:hover{
                    a{
                        color: $bg-green;
                        transform: scale(1.1);
                    }
                    
                }
            }
        }
        .icon-menu{
            width: 50px;
            height: 5px;
            background-color: $bg-green;
            position: relative;
            transition: $smooth;
            cursor: pointer;
            &::after,&::before{
                width: 50px;
                height: 5px;
                background-color: $bg-green;
                content: '';
                position: absolute;
                top: -15px;
                left: 0;
                transition: $smooth;
            }
            &::before{
                top: 15px;
            }
        }

    }
}

main{
    .banner{
        padding-top: 100px;
        overflow: hidden;
        .banner__content{
            flex-basis: 60%;
            padding-right: 20px;
            text-align: justify;
            h1{
                font-size: 40px;
                margin-bottom: 20px;
                span{
                    color: $primary-color;
                }
            }
            p{
                font-size: 24px;
                color: $bg-btn;
                margin-bottom: 40px;
                &.subtext{
                    font-weight: 700;
                    color: $txt-color;
                    opacity: .6;
                    font-size: 30px;
                }
            }
            button{
                &:hover{
                    transform: scale(1.1);
                }
                a{
                    color: #ffffff;
                }
            }
        }
        .banner__img{
            flex-basis: 40%;
            position: relative;
            img{
                border-radius: 20px;
            }
            &::before, &::after{
                content: '';
                width: 100%;
                height: 100%;
                border-radius: 50px;
                z-index: -1;
                background-color: $bg-green;
                position: absolute;
                left: 0;
                top: 0;
            }
            &::after{
                transform: rotate(45deg) translateX(100px);
            }
            &::before{
                transform: rotate(-45deg) translateX(-100px);
            }
        }
    }

    .skill{
        padding-top: 100px;
        .skills-list{
            .item{
                margin-bottom: 20px;
                background-color: $bg-hover;
                border-radius: 30px;
                padding: 20px;
                transition: $smooth;
                &:hover{
                    transform: scale(1.1);
                }
                .text{
                    justify-content: space-between;
                    span{
                        font-size: 18px;
                        color: $primary-color;
                    }
                }
                .percent{
                    width: 100%;
                    height: 20px;
                    background-color: $bg-hover;
                    border-radius: 10px;
                    div{
                        background-color: $txt-color;
                        border-radius: 10px;
                        height: 100%;
                        &.html{
                            width: 65%;
                        }
                        &.css{
                            width: 65%;
                        }
                        &.js{
                            width: 15%;
                        }
                        &.react{
                            width: 10%
                        }
                    }
                }
            }
        }

    }

    .work{
        padding-top: 100px;
        position: relative;
        .work__desc-bottom{
            width: 30%;
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: -1;
            transform: translateX(50%)
        }
        .work__desc-top{
            @extend .work__desc-bottom;
            left: 0;
            top: 0;
            transform: translateX(-50%)
        }
        .heading{
            text-align: center;
            font-size: 30px;
            margin-bottom: 50px;
        }
        .heading{
            text-align: center;
            font-size: 30px;
            margin-bottom: 50px;
        }
        .list-work{
            .item{
                    border-radius: 20px;
                    position: relative;
                    flex-basis: 25%;
                    overflow: hidden;
                    cursor: pointer;
                    &:hover{
                        .link-work{
                            bottom: 0;
                        }
                    }
                img{
                    align-items: center;
                    height: 100%;
                }
                .link-work{
                    transition: $smooth;
                    position: absolute;
                    bottom: -100%;
                    left: 0;
                    backdrop-filter: blur(5px);
                    width: 100%;
                    height: 50px;
                    text-align: center;
                    a{
                        color: $primary-color;
                        display: inline-block;
                        padding: 5px 10px;
                        border-radius: 5px;
                        background-color: #ffffff;
                        transform: translateY(40%);
                    }
                }
            }
        }
    }

    .contact{
        padding: 100px 0;
        .contact-title{
            text-align: center;
        }
        .links-contact{
            justify-content: center;
            align-items: center;
            .link{
                flex-basis: 20%;
                text-align: center;
                img{
                    width: 50%;
                }
            }
        }
    }

    
}

footer{
    padding:50px 0;
    background-color: $bg-hover;
    .footer__title{
        margin-bottom: 50px;
        h1{
            font-size: 80px;
            background: linear-gradient(to bottom ,$txt-color, transparent);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: 20px;
        }
        p{
            font-size: 30px;
            color: $txt-color;
            padding-left: 10px;
        }
    }
    .copyright{
        text-align: center;
        font-size: 20px;
    }
}

.back-home{
    .icon{
        transition: $smooth;
        display: none;
        cursor: pointer;
        position: fixed;
        bottom: 15%;
        right: 5%;
        border-radius: 5px;
        background-color: $bg-green;
        box-shadow: 5px 5px 10px rgba($color: #000000, $alpha: 0.5);
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        &.open{
            display: initial;
        }
        i{
            color: $primary-color;
            font-size: 20px;
            animation: up_down ease .5s alternate infinite;
        }
    }
}


@keyframes up_down{
    from{
        transform: translateY(5px);
    }
    to{
        transform: translateY(-5px);
    }

}
